{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
  <!-- <link href='http://fonts.googleapis.com/css?family=Wire+One|Tulpen+One|Dorsa|Six+Caps' rel='stylesheet' type='text/css'>
   --><link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "biblestats/css/chatterplot.css" %}">
  <link type="text/css" rel="stylesheet" href="http://mbostock.github.io/d3/talk/20111116/colorbrewer/colorbrewer.css"/>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Word frequencies in the Bible</h1>
    <i>How often do words occur in the bible, and where? </i>
    <div class="intro">
        <p>
            <br>

        </p>
    </div>
    <div class="form">
        <input type="text" name="word" class="input" placeholder="word" value="love"><span class="title"> appears <span class="total">x times</span> in the Bible.
    </div>
    <div class="chart"></div>


</div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="/static/biblestats/js/app/chatterplot.min.js"></script>
{% endblock %}