$red: #E4362E;
$blue: #BEE2EA;

$red-dark: darken($red, 30%);
$blue-dark: darken($blue, 30%);

$shadow: rgba(black, .5);

$red-tp: rgba($red, .9);
$blue-tp: rgba($blue, .9);

$red-disabled: rgba($red, .5);
$blue-disabled: rgba($blue, .5);


$green: #3EC300;

$base-color: #333;
$bg-color: #fefefe;
